#disable_html_escaping()
<span class="nowrap">
#if ($requestContext.requestParameters)
    #if ($ableToEditIssue)
    <a href="${baseurl}/secure/EditIssue!default.jspa?id=${issue.id}&returnUrl=$!{requestContext.requestParameters.requestURL}">$i18n.getText("common.words.edit")</a>#if ($ableToComment) | #end
    #end
    #if ($ableToComment)
    <a href="${baseurl}/secure/AddComment!default.jspa?id=${issue.id}&returnUrl=$!{requestContext.requestParameters.requestURL}">$i18n.getText("issue.field.comment")</a>
    #end
#else
    #if ($ableToEditIssue)
    <a href="${baseurl}/secure/EditIssue!default.jspa?id=${issue.id}">$i18n.getText("common.words.edit")</a>#if ($ableToComment) | #end
    #end
    #if ($ableToComment)
    <a href="${baseurl}/secure/AddComment!default.jspa?id=${issue.id}">$i18n.getText("issue.field.comment")</a>
    #end
#end
</span>